version: "3.9"

services:
  db:
    image: postgres:15
    container_name: ipa-postgres
    environment:
      POSTGRES_DB: ipa
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:

